<launch>

<!-- University of Bonn, Department of Computer Science VI,  LAB mobile robots -->
<!-- Unit 02 -->
<!-- Launch file for robo_two in using the stage simulation with prakt_02  part of floor EG in IZ -->

<!-- start stage node -->
	<node pkg="stage_ros" name="stageros" type="stageros" output="screen" args="$(find AIS_worlds)/prakt_01.world">
 <remap from="base_scan" to="laserscan"/>
	</node>

<!-- start robo_two node -->
	<node pkg="unit_02" type="robo_two" output="screen" name="Mystery_mover">
	</node>

</launch>

